@page "/admin-control-panel-component"
@inherits PetQuestV1.Components.Pages.AdminControlPanelBase
@rendermode InteractiveServer

<h3 class="mb-4">Admin Control Panel</h3>

<PetsAdminPanel />

<UsersAdminPanel />

<SpeciesAdminPanel />

<BreedAdminPanel />

