@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <!-- Move navbar-brand here to align with nav items -->
            <div class="nav-item px-3">
                <a class="navbar-brand nav-link" href="">
                    <img src="HomeImage/logo-white-small.png" alt="Logo">
                </a>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mypets">
                    <svg height="200px" width="200px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#ffffff" style="width: 1.2em; height: 1.2em; vertical-align: middle; margin-right: 0.2em;">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <style type="text/css">
                        .st0 {
                            fill: #ffffff;
                        }
</style> 
                    <g> 
                    <path class="st0" d="M205.116,153.078c31.534,11.546,69.397-12.726,84.58-54.209c15.174-41.484,1.915-84.462-29.614-96.001 c-31.541-11.53-69.4,12.735-84.582,54.218C160.325,98.57,173.584,141.548,205.116,153.078z"></path> 
                    <path class="st0" d="M85.296,219.239c32.987-2.86,56.678-40.344,52.929-83.75c-3.757-43.391-33.545-76.253-66.532-73.409 c-32.984,2.869-56.674,40.36-52.921,83.759C22.53,189.23,52.313,222.091,85.296,219.239z"></path> 
                    <path class="st0" d="M342.196,217.768c28.952,17.017,70.552-0.073,92.926-38.154c22.374-38.106,17.041-82.758-11.915-99.774 c-28.951-17.001-70.56,0.097-92.93,38.178C307.905,156.117,313.245,200.768,342.196,217.768z"></path> 
                    <path class="st0" d="M497.259,262.912c-18.771-27.271-63.07-29.379-98.954-4.694c-35.892,24.701-49.762,66.822-30.996,94.101 c18.766,27.27,63.069,29.38,98.954,4.686C502.143,332.312,516.021,290.191,497.259,262.912z"></path> 
                    <path class="st0" d="M304.511,268.059c-3.58-24.773-18.766-47.366-43.039-58.824c-24.268-11.45-51.365-8.807-72.758,4.169 c-23.646,14.35-38.772,33.096-59.138,41.29c-20.363,8.193-77.4-16.209-112.912,48.278c-25.081,45.548-2.057,103.128,44.962,125.315 c35.738,16.864,64.023,14.981,84.788,24.774c20.762,9.793,37.29,32.83,73.025,49.692c47.018,22.188,106.1,3.362,125.315-44.957 c27.206-68.407-27.897-96.922-34.522-117.85C303.613,319.021,308.47,295.426,304.511,268.059z"></path> 
                </g> 
            </g>
        </svg> My Pets
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="virtualpet">
                    <svg fill="currentColor" viewBox="0 0 512 512" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="currentColor" width="32" height="32">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <g id="give_love-hand-heart-love-valentine">
                    <path d="M430.16,286.16c10.24,9.36,9.6,26.08-0.24,35.92l-84.53,84.53c-6.012,6.012-14.167,9.39-22.67,9.39H173.28 c-14.192,0-21.375,7.609-32.021,18.627c-3.535,3.659-8.651,5.486-13.695,4.822C96.194,435.323,72,408.5,72,376v-33.373 c0-4.244,1.686-8.313,4.687-11.314l25.923-25.923c6.012-6.012,14.167-9.39,22.67-9.39h45.44c26.16,0,24.32,24,50.56,24H280 c12.56,0,24,10.16,24,24c0,13.12-10.48,24-24,24H176c0,8.8,7.2,16,16,16h94.905c8.487,0,16.626-3.372,22.627-9.373l87.587-87.587 c4.64-4.64,10.8-7.04,16.96-7.04C419.84,280,425.6,282.08,430.16,286.16z M164.48,179.2c-23.68-24-27.76-62.48-7.2-89.2 c24.8-32.32,71.04-34.48,98.72-6.48c27.68-28,73.92-25.84,98.72,6.48c7.957,10.351,12.19,22.535,13.035,34.898 c24.141-10.574,52.367-3.454,68.667,17.747c17.531,22.824,14.914,56.086-6.086,77.371c0,0.004-0.008,0.004-0.008,0.008 l-48.719,49.281c-6.859,6.914-15.953,10.715-25.609,10.715s-18.75-3.801-25.602-10.703l-36.011-36.427l-11.828,11.99 c-14.64,14.8-38.48,14.8-53.12,0L164.48,179.2z M293.055,208.781l48.711,49.273c7.625,7.688,20.836,7.699,28.477-0.012 l48.711-49.27c15.406-15.625,17.469-39.863,4.781-56.383c-12.398-16.125-34.328-21.02-52.156-11.637 c-3.57,2.023-6.977,4.598-9.922,7.543c-1.5,1.5-3.531,2.344-5.656,2.344c-0.008,0-0.016,0-0.023,0 c-2.133-0.008-4.172-0.863-5.664-2.375c-7.773-7.863-18.313-12.254-29.227-12.254c-0.836,0-1.68,0.027-2.523,0.078 c-12.023,0.746-22.789,6.539-30.297,16.309C275.578,168.91,277.641,193.152,293.055,208.781z M98.272,237.585 c3.14,3.219,8.315,3.219,11.455,0l19.952-20.46c7.017-7.196,8.387-18.749,2.104-26.594c-7.145-8.922-20.021-9.403-27.784-1.442 c-7.763-7.96-20.64-7.479-27.784,1.442c-6.283,7.845-4.913,19.398,2.104,26.594L98.272,237.585z"></path>
                </g>
                    <g id="Layer_1"></g>
            </g>
        </svg>
                    <span class="ms-2">Petting</span>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="auth">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pong">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Pong
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}