@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <!-- Move navbar-brand here to align with nav items -->
            <div class="nav-item px-3">
                <a class="navbar-brand nav-link" href="">
                    <img src="HomeImage/logo-white-small.png" alt="Logo">
                </a>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mypets">
                    <svg height="200px" width="200px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 512.00 512.00" xml:space="preserve" fill="#ffffff" style="width: 1.2em; height: 1.2em; vertical-align: middle; margin-right: 0.2em;">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <style type="text/css">
                        .st0 {
                            fill: #ffffff;
                        }
</style> 
                    <g> 
                    <path class="st0" d="M205.116,153.078c31.534,11.546,69.397-12.726,84.58-54.209c15.174-41.484,1.915-84.462-29.614-96.001 c-31.541-11.53-69.4,12.735-84.582,54.218C160.325,98.57,173.584,141.548,205.116,153.078z"></path> 
                    <path class="st0" d="M85.296,219.239c32.987-2.86,56.678-40.344,52.929-83.75c-3.757-43.391-33.545-76.253-66.532-73.409 c-32.984,2.869-56.674,40.36-52.921,83.759C22.53,189.23,52.313,222.091,85.296,219.239z"></path> 
                    <path class="st0" d="M342.196,217.768c28.952,17.017,70.552-0.073,92.926-38.154c22.374-38.106,17.041-82.758-11.915-99.774 c-28.951-17.001-70.56,0.097-92.93,38.178C307.905,156.117,313.245,200.768,342.196,217.768z"></path> 
                    <path class="st0" d="M497.259,262.912c-18.771-27.271-63.07-29.379-98.954-4.694c-35.892,24.701-49.762,66.822-30.996,94.101 c18.766,27.27,63.069,29.38,98.954,4.686C502.143,332.312,516.021,290.191,497.259,262.912z"></path> 
                    <path class="st0" d="M304.511,268.059c-3.58-24.773-18.766-47.366-43.039-58.824c-24.268-11.45-51.365-8.807-72.758,4.169 c-23.646,14.35-38.772,33.096-59.138,41.29c-20.363,8.193-77.4-16.209-112.912,48.278c-25.081,45.548-2.057,103.128,44.962,125.315 c35.738,16.864,64.023,14.981,84.788,24.774c20.762,9.793,37.29,32.83,73.025,49.692c47.018,22.188,106.1,3.362,125.315-44.957 c27.206-68.407-27.897-96.922-34.522-117.85C303.613,319.021,308.47,295.426,304.511,268.059z"></path> 
                </g> 
            </g>
        </svg> My Pets
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="virtualpet">
                    <svg fill="currentColor" viewBox="0 0 512 512" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" stroke="currentColor" width="32" height="32">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <g id="give_love-hand-heart-love-valentine">
                    <path d="M430.16,286.16c10.24,9.36,9.6,26.08-0.24,35.92l-84.53,84.53c-6.012,6.012-14.167,9.39-22.67,9.39H173.28 c-14.192,0-21.375,7.609-32.021,18.627c-3.535,3.659-8.651,5.486-13.695,4.822C96.194,435.323,72,408.5,72,376v-33.373 c0-4.244,1.686-8.313,4.687-11.314l25.923-25.923c6.012-6.012,14.167-9.39,22.67-9.39h45.44c26.16,0,24.32,24,50.56,24H280 c12.56,0,24,10.16,24,24c0,13.12-10.48,24-24,24H176c0,8.8,7.2,16,16,16h94.905c8.487,0,16.626-3.372,22.627-9.373l87.587-87.587 c4.64-4.64,10.8-7.04,16.96-7.04C419.84,280,425.6,282.08,430.16,286.16z M164.48,179.2c-23.68-24-27.76-62.48-7.2-89.2 c24.8-32.32,71.04-34.48,98.72-6.48c27.68-28,73.92-25.84,98.72,6.48c7.957,10.351,12.19,22.535,13.035,34.898 c24.141-10.574,52.367-3.454,68.667,17.747c17.531,22.824,14.914,56.086-6.086,77.371c0,0.004-0.008,0.004-0.008,0.008 l-48.719,49.281c-6.859,6.914-15.953,10.715-25.609,10.715s-18.75-3.801-25.602-10.703l-36.011-36.427l-11.828,11.99 c-14.64,14.8-38.48,14.8-53.12,0L164.48,179.2z M293.055,208.781l48.711,49.273c7.625,7.688,20.836,7.699,28.477-0.012 l48.711-49.27c15.406-15.625,17.469-39.863,4.781-56.383c-12.398-16.125-34.328-21.02-52.156-11.637 c-3.57,2.023-6.977,4.598-9.922,7.543c-1.5,1.5-3.531,2.344-5.656,2.344c-0.008,0-0.016,0-0.023,0 c-2.133-0.008-4.172-0.863-5.664-2.375c-7.773-7.863-18.313-12.254-29.227-12.254c-0.836,0-1.68,0.027-2.523,0.078 c-12.023,0.746-22.789,6.539-30.297,16.309C275.578,168.91,277.641,193.152,293.055,208.781z M98.272,237.585 c3.14,3.219,8.315,3.219,11.455,0l19.952-20.46c7.017-7.196,8.387-18.749,2.104-26.594c-7.145-8.922-20.021-9.403-27.784-1.442 c-7.763-7.96-20.64-7.479-27.784,1.442c-6.283,7.845-4.913,19.398,2.104,26.594L98.272,237.585z"></path>
                </g>
                    <g id="Layer_1"></g>
            </g>
        </svg>
                    <span class="ms-2">Petting</span>
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="auth">
                    <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link d-flex align-items-center" href="pong">
                    <svg fill="currentColor" height="30" width="32" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 430.556 430.556" xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                    <path id="XMLID_167_" d="M139.689,93.625c0.552-4.94,5.006-8.496,9.944-7.945c4.94,0.552,8.497,5.004,7.945,9.943 c-0.398,3.566,3.715,14.81,21.66,34.326c16.172,17.59,39.202,37.165,64.845,55.121c17.287,12.104,35.165,23.035,51.702,31.609 c4.413,2.288,6.135,7.721,3.847,12.133c-1.602,3.089-4.743,4.859-7.997,4.859c-1.396,0-2.811-0.325-4.135-1.012 c-17.231-8.935-35.814-20.293-53.741-32.846C184.855,165.572,136.803,119.458,139.689,93.625z M52.83,91.751 c-4.802-1.301-9.739,1.543-11.036,6.341c-5.789,21.428-4.187,44.349,4.51,64.541c2.622,6.087,5.887,11.938,9.705,17.391 l25.55,36.492c11.818,16.878,28.379,29.397,47.893,36.205c0.981,0.342,1.981,0.505,2.964,0.505c3.721,0,7.203-2.326,8.498-6.038 c1.637-4.693-0.84-9.825-5.533-11.463c-15.926-5.556-29.438-15.768-39.076-29.533l-25.551-36.493 c-3.116-4.45-5.78-9.223-7.917-14.186c-7.098-16.478-8.399-35.203-3.666-52.727C60.468,97.988,57.629,93.047,52.83,91.751z M306.703,198.433c3.112,0,6.139-1.616,7.805-4.507c2.483-4.306,1.005-9.81-3.301-12.292c-11.505-6.634-23.224-14.118-34.83-22.244 c-21.658-15.165-41.119-31.282-56.278-46.611c-3.495-3.532-9.192-3.565-12.728-0.07c-3.534,3.495-3.566,9.193-0.07,12.728 c15.907,16.085,36.223,32.925,58.752,48.698c12.036,8.428,24.203,16.197,36.163,23.094 C303.632,198.044,305.177,198.433,306.703,198.433z M179.468,105.23c4.071,2.851,9.683,1.86,12.535-2.21l27.736-39.611 c16.175-23.102,40.497-38.542,68.484-43.477c27.986-4.938,56.124,1.255,79.227,17.431c42.257,29.588,57.098,86.902,34.521,133.317 c-2.174,4.47-0.313,9.855,4.157,12.03c1.268,0.616,2.609,0.908,3.93,0.908c3.336,0,6.542-1.863,8.1-5.065 c12.747-26.206,15.785-56.35,8.555-84.876c-7.311-28.845-24.69-54.08-48.939-71.059C350.733,3.685,317.821-3.568,285.097,2.205 c-32.722,5.77-61.17,23.839-80.103,50.879l-27.736,39.611C174.406,96.767,175.396,102.379,179.468,105.23z M349.668,380.735 c2.235,3.19,3.094,7.069,2.416,10.92c-0.679,3.851-2.812,7.203-6.006,9.439l-37.92,26.552c-2.546,1.781-5.469,2.636-8.363,2.637 c-4.613,0-9.154-2.171-11.994-6.224l-23.765-33.94c-0.015-0.021-0.03-0.042-0.045-0.063c-0.015-0.021-0.029-0.042-0.044-0.063 l-26.687-38.114c-0.039-0.053-0.077-0.105-0.114-0.159c-0.037-0.054-0.074-0.107-0.11-0.161l-10.572-15.099 c-2.851-4.071-1.861-9.684,2.21-12.534c4.072-2.853,9.684-1.862,12.535,2.21l5.521,7.886l39.754-27.834 c4.072-2.852,9.684-1.862,12.535,2.21l26.714,38.153c0.044,0.061,0.088,0.121,0.131,0.183s0.085,0.123,0.126,0.186L349.668,380.735z M273.574,372.358l32.381-22.673l-16.519-23.593l-32.381,22.673L273.574,372.358z M332.984,388.288l-16.705-23.858l-32.381,22.673 l16.706,23.859L332.984,388.288z M424.708,240.113c0,29.289-23.828,53.117-53.117,53.117c-15.028,0-29.419-6.41-39.483-17.587 c-8.792-9.765-13.634-22.383-13.634-35.53c0-29.289,23.828-53.117,53.117-53.117S424.708,210.823,424.708,240.113z M406.708,240.113 c0-19.363-15.753-35.117-35.117-35.117s-35.117,15.754-35.117,35.117c0,8.691,3.2,17.032,9.011,23.485 c6.655,7.393,16.171,11.632,26.106,11.632C390.955,275.23,406.708,259.476,406.708,240.113z M118.872,288.815 c3.721,0,7.203-2.326,8.498-6.038c1.637-4.693-0.841-9.825-5.534-11.462c-21.089-7.355-38.982-20.88-51.746-39.112L37.09,185.075 c-16.176-23.103-22.366-51.238-17.431-79.226c4.935-27.988,20.377-52.31,43.48-68.486c36.03-25.229,84.706-25.36,121.124-0.324 c4.097,2.815,9.7,1.778,12.515-2.318c2.816-4.097,1.778-9.699-2.318-12.516C151.887-7.061,94.963-6.895,52.815,22.619 C25.774,41.552,7.703,70.001,1.933,102.724s1.479,65.635,20.413,92.676l32.998,47.126c14.943,21.346,35.886,37.178,60.564,45.785 C116.889,288.653,117.888,288.815,118.872,288.815z M236.791,289.807l-16.505,23.571c-0.001,0.001-0.001,0.002-0.002,0.003 c-0.001,0.002-0.002,0.004-0.003,0.005l-77.493,110.67c-2.839,4.056-7.382,6.229-11.995,6.229c-2.894,0-5.815-0.855-8.361-2.636 l-37.924-26.557c-3.194-2.235-5.327-5.587-6.006-9.437c-0.679-3.85,0.18-7.729,2.417-10.923l23.721-33.877 c0.028-0.041,0.057-0.083,0.085-0.124c0.029-0.042,0.059-0.083,0.088-0.123l26.655-38.067c0.033-0.049,0.066-0.097,0.1-0.146 c0.034-0.049,0.068-0.097,0.103-0.145l26.631-38.032c0.036-0.054,0.073-0.107,0.111-0.161c0.037-0.054,0.076-0.107,0.114-0.16 l16.389-23.406c-17.779-23.404-26.645-52.261-25.064-82.017c0.263-4.964,4.5-8.781,9.465-8.51c4.963,0.264,8.773,4.501,8.51,9.465 c-1.461,27.494,7.484,54.077,25.188,74.851c2.659,3.12,2.874,7.643,0.522,11l-15.216,21.73l32.381,22.674l15.216-21.73 c2.351-3.357,6.672-4.702,10.515-3.271c20.884,7.781,44.326,8.711,66.005,2.615c4.785-1.345,9.755,1.443,11.1,6.229 s-1.443,9.754-6.228,11.1C284.255,297.106,259.48,296.782,236.791,289.807z M146.689,387.102l-32.38-22.673l-16.707,23.859 l32.38,22.673L146.689,387.102z M173.533,348.767l-32.381-22.674l-16.519,23.591l32.381,22.674L173.533,348.767z M200.377,310.429 l-32.38-22.673l-16.52,23.593l32.38,22.673L200.377,310.429z"></path>
            </g>
        </svg>
                    <span class="ms-2">Pong</span>
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}